<div ng-controller='SearchController as searchController'>

  <div class='container-fluid top'>
    <h1 class='homeNav' ui-sref='home'>LoLStat</h1>

    <form class='searchInput' ng-submit='searchController.saveSummonerIGN()'>
      <div class="container-fluid">
        <div class="btn-group" uib-dropdown is-open="status.isopen">
          <button id="region" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
            {{searchController.summoner.region}}
          </button>

          <ul id="regionUl" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li ng-repeat="choice in searchController.regionList">
              <a href ng-click='searchController.summoner.region = choice'>{{choice}}</a>
            </li>
          </ul>
        </div>
        <input class='searchBar' ng-model='searchController.summoner.IGN' placeholder="Enter the Summoner's name"/>
      </div>
    </form>
  </div>

  <div ng-controller='SummonerController as summonerController'>

    <div class='container-fluid gameStatsHold' ng-show='summonerController.dataLoad'>

      <div class='container-fluid summonerName'>
        <div class="summonerImgHolder">
          <div class="summonerImg">
            <img ng-src='{{summonerController.realm.cdn}}/{{summonerController.realm.dd}}/img/profileicon/{{summonerController.summoner.profileIconId}}.png'/>
            <span>{{summonerController.summoner.summonerLevel}}</span>
          </div>
        </div>
        <div>
          {{summonerController.summoner.name}}
          <div>
            <p>{{summonerController.summoner.ranked.name}}</p>
            <p>{{summonerController.summoner.ranked.tier}}
              {{summonerController.summoner.ranked.entries[0].division}}</p>
          </div>
        </div>
      </div>
      <div>
        <ul class='nav nav-tabs optionTab'>
          <li ng-repeat='choice in summonerController.statChoice'>
            <a role='presentation' ng-click='summonerController.statPick(choice)'>{{choice}}</a>
          </li>
        </ul>
      </div>

      <div class='container-fluid'>
        <div class='statSummary' ng-show='summonerController.gameStats.summary' ng-repeat='(key, userData) in summonerController.statSummary'>
          <h1>{{userData.playerStatSummaryType}}</h1>
          <div ng-repeat='(key, userStats) in userData.aggregatedStats'>
            <p>{{key}}:
              {{userStats}}</p>
          </div>
        </div>
      </div>

      <div class='container-fluid statRanked'>
        <ul class='nav nav-tabs nav-justified optionTab' ng-show='summonerController.gameStats.ranked'>
          <li ng-repeat='(key, season) in summonerController.seasonDisp' ng-class='summonerController.seasonShort[season]'>
            <a role='presentation' ng-click='summonerController.seasonPick(season)'>{{season}}</a>
          </li>
        </ul>

        <div class='champRankedInfoTab' ng-show='summonerController.gameStats.ranked'>
          <ul class='uniqChampTitle' ng-show='!summonerController.spinner'>
            <li class='title' ng-click='summonerController.sortName()'>Champion<span class="caret"></span>
            </li>
            <li class='title' ng-click='summonerController.sortGame()'>Played<span class="caret"></span></li>
            <li ng-click='summonerController.sortKill()'>Kill<span class="caret"></span></li>
            <li ng-click='summonerController.sortDeath()'>Death<span class="caret"></span></li>
            <li ng-click='summonerController.sortAssist()'>Assist<span class="caret"></span></li>
            <li ng-click='summonerController.sortKDA()'>KDA<span class="caret"></span></li>
            <li ng-click='summonerController.sortCS()'>CS<span class="caret"></span></li>
            <li ng-click='summonerController.sortGold()'>Gold<span class="caret"></span></li>
          </ul>

          <div class='champRankedInfoContainer' ng-show='!summonerController.spinner'>
            <div class='champRankedInfo' ng-repeat='userData in summonerController.statRanked'>
              <ul class='uniqChamp'>
                <li class='title'>
                  <img ng-src='{{summonerController.realm.cdn}}/{{summonerController.realm.dd}}/img/champion/{{userData.key}}.png'/>
                  {{userData.name}}
                </li>
                <li class='title'>
                  {{userData.stats.totalSessionsWon}}W/{{userData.stats.totalSessionsLost}}L
                  {{userData.stats.avgWin}}%
                </li>
                <li>
                  {{userData.stats.avgKill}}
                </li>
                <li>
                  {{userData.stats.avgDeath}}
                </li>
                <li>
                  {{userData.stats.avgAssist}}
                </li>
                <li>
                  {{userData.stats.avgKDA}}
                </li>
                <li>
                  {{userData.stats.avgCS}}
                </li>
                <li>
                  {{userData.stats.avgGold}}
                </li>
              </ul>
            </div>
          </div>

          <div class='champRankedInfoSpinner' ng-show='summonerController.spinner'>
            <span us-spinner spinner-theme="bigBlue" ng-show='summonerController.gameStats.ranked'></span>
          </div>

        </div>

      </div>

    </div>

    <div ng-show='!summonerController.dataLoad'>
      <span us-spinner spinner-theme="bigBlue"></span>
    </div>

  </div>

</div>
