<div ng-controller='SummonerController as summonerController'>

  <div class='container-fluid gameStatsHold'>

    <div class='container-fluid summonerName'>
        <img src="http://ddragon.leagueoflegends.com/cdn/6.5.1/img/profileicon/983.png"/>
        <div>
          {{summonerController.summoner.name}}
          <p>Level: {{summonerController.summoner.summonerLevel}}</p>
        </div>
    </div>
    <div>
      <ul class='nav nav-tabs'>
        <li ng-repeat='choice in summonerController.statChoice'>
          <a role='presentation' href class='active' ng-click='summonerController.statPick(choice)'>{{choice}}</a>
        </li>
      </ul>
    </div>

    <div class='container'>
      <div class='gameStats' ng-show='summonerController.gameStats.summary' ng-repeat='(key, userData) in summonerController.statSummary'>
        <h1>{{userData.playerStatSummaryType}}</h1>
        <div ng-repeat='(key, userStats) in userData.aggregatedStats'>
          <p>{{key}}:
            {{userStats}}</p>
        </div>
      </div>
    </div>

    <div class='container'>
      <div ng-show='summonerController.gameStats.ranked' ng-repeat='userData in summonerController.statRanked'>
        <h1>{{summonerController.championList[userData.id].name}}</h1>
        <div ng-repeat='(key, champStats) in userData.stats'>
          {{key}}:
          {{champStats}}
        </div>
      </div>
    </div>

    <!-- <div class='champList' ng-repeat='(key, userData) in summonerController.championList'>
      <div>
        <h1>{{key}}</h1>
      </div>
    </div> -->

    <!-- <div>
      {{summonerController.championList[1].name}}
    </div> -->

  </div>

</div>
